.idea
.DS_Store
out
tmp
test/election_summary_report.txt
test/2013-minneapolis-mayor-tabulation-results.xlsx
test/~*.xlsx
test/Portland-Tabulation-Results.xlsx
*_audit_log.txt
*_visualizer.xlsx
test_output
