name: "Build, Lint, and Test"

on:
  - pull_request
  - merge_group

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: "Set up JDK 21.0.7"
        uses: actions/setup-java@v2
        with:
          java-version: '21.0.7'
          distribution: 'temurin'
      - name: "Test with Gradle"
        run: ./gradlew check
